[Desktop Entry]
Comment=FrameWork

Encoding=UTF-8
Keywords=Desktop;Workspace;Appearance;Look and Feel;Logout;Lock;Suspend;Shutdown;Hibernate;
Name=FrameWork

Type=Service

X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KDE-ParentApp=
X-KDE-PluginInfo-Name=FrameWork
X-KDE-PluginInfo-Author=creativity
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=LGPLv3
X-KDE-ServiceTypes=Plasma/LookAndFeel
X-Plasma-MainScript=defaults 
